.root {
    -fx-background-color: #96BDE8;
}
.combo-box{
    -fx-background-color: #6FA5E0;
    -fx-background-radius: 7 7 7 7 ;
}

.cell{
    -fx-background-color: #A3C5EB;
}

.button{
    -fx-background-color:#6FA5E0;
    -fx-background-radius: 7 7 7 7 ;
}

.button:hover{
    -fx-background-color: #6795CE;
}